- page_part_counter = @page.parts.index(page_part)
- if current_user.admin?
  %span.lock_page_part
    ~ hidden_field_tag "page[parts_attributes][#{page_part_counter}][locked]", '0'
    %label
      ~ check_box_tag "page[parts_attributes][#{page_part_counter}][locked]", '1', page_part.locked?
      = t('locked_page_parts.locked')
- elsif page_part.locked?
  :javascript
      document.observe('dom:loaded', function() {
        var tab = $$('.tab')[#{page_part_counter}]
        var page = $$('#pages .page')[#{page_part_counter}]
        
        tab.replace("<span class='tab disabled'>" + tab.innerText + "</span>")
        
        page.select('textarea').first().replace("<div class='locked-part-placeholder'><p>#{t('locked_page_parts.disabled_message')}</p></div>")
        page.select('select').first().disable()
        
        $$('a.tab:first').click()
      })